<!DOCTYPE html>
<html>
<head>
    <title>Fuel Tracker</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>
<body>
    <h1>Fuel Tracker</h1>

    <button hx-get="/web/fuel-logs/new" hx-target="#modal-container" hx-swap="innerHTML">
        + Add New Entry
    </button>

    <div id="modal-container"></div>

    <div id="fuel-table">
        {{ template "table" . }}
    </div>
</body>
</html>
